@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: theme("colors.indigo.500");
    --color-primary-soft: theme("colors.indigo.100");
    --color-primary-content: theme("colors.white");
    --color-primary-focus: theme("colors.indigo.600");

    --color-info: theme("colors.blue.500");
    --color-info-soft: theme("colors.blue.100");
    --color-info-content: theme("colors.white");
    --color-info-focus: theme("colors.blue.600");

    --color-success: theme("colors.green.500");
    --color-success-soft: theme("colors.green.100");
    --color-success-content: theme("colors.white");
    --color-success-focus: theme("colors.green.600");

    --color-warning: theme("colors.yellow.500");
    --color-warning-soft: theme("colors.yellow.100");
    --color-warning-content: theme("colors.white");
    --color-warning-focus: theme("colors.yellow.600");

    --color-danger: theme("colors.red.500");
    --color-danger-soft: theme("colors.red.100");
    --color-danger-content: theme("colors.white");
    --color-danger-focus: theme("colors.red.600");

    /* --color-neutral: theme("colors.white");
    --color-neutral-content: theme("colors.gray.700");
    --color-neutral-focus: theme("colors.gray.50"); */
    --base-100: 255 115 179;

    /* --base-100: theme("colors.white");
      --base-200: theme("colors.gray.100");
      --base-300: theme("colors.gray.200");
      --base-content: theme("colors.gray.700"); */
  }
  html[class="dark"] {
    --base-100: 255 39 49;
    --base-content: theme("colors.white");
  }
}

/* body {
  @apply dark:bg-slate-900;
} */

/* inline-flex justify-center items-center gap-2 rounded-md font-semibold transition-all text-sm focus:ring-2 focus:ring-offset-2 */

/* @layer components {
  .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 2;
    transition: all;
    border-radius: theme("borderRadius.md");
    font-weight: theme("fontWeight.semibold");
  }
} */
